<!doctype html>
<html>

<head>
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
	<link href="main.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script src="uf.js"></script>
	<script src="grid.js"></script>
	<script src="main.js"></script>
</head>

<body ng-app="percolation">
	<div class="container" ng-controller="main">
		<div class="page-header">
			<h1>Percolation Demo</h1>
		</div>
		<div>
			<p>Notes:</p>
			<ul>
				<li><p><a href="http://coursera.cs.princeton.edu/algs4/assignments/percolation.html">Assignment 1</a> for <a href="https://www.coursera.org/course/algs4partI">Algorithms, Part 1</a> course on Coursera.</p></li>
				<li>Github</li>
			</ul>
		</div>
		<hr />
		<form ng-hide="n" class="form-inline">
			<div class="form-group">
				<label>N:</label>
				<input id="N" class="form-control" type="number" min="1" max="500" value="10">
			</div>
			<button class="btn btn-default" ng-click="reset()">Set</button>
		</form>
		<div ng-show="n">
			<div class="form-group">
				<label>Number of experiments to run: </label>
				<input class="form-control" type="number" min="1" ng-model="numExperiments">
			</div>
			<button class="btn btn-default btn-block actionButton" ng-click="runExperiments(numExperiments)">Run Experiments</button>
			<br /><hr />
			<div class="row">
				<div class="col-sm-6">
					<p>Trial: <span id="trialNumber">{{trialNumber}}</span></p>
					<table>
						<tr ng-repeat="i in getNumber()">
							<td ng-repeat="j in getNumber()" data-id="{{i}}{{j}}">({{i}},{{j}})</td>
						</tr>
					</table><br />
					<button class="btn btn-default actionButton" ng-click="open()">Open Random</button>
					<button class="btn btn-default" ng-click="reset()">Reset</button><br />
				</div>
				<div class="col-sm-6">
					<p>Results:</p>
					<ul>
						<li>Trials: {{results.length}}</li>
						<li>Mean: {{ mean() }}</li>
						<li>Standard Deviation: {{ stddev() }}</li>
			 			<li>Confidence Low (5%): {{ confidenceLow() }}</li>
						<li>Confidence High (95%): {{ confidenceHigh() }}</li>
						<li>
							<p>Data:</p>
							<div id="results">
								<ol>
									<li ng-repeat="result in results track by $index"><code>{{result}}</code></li>
								</ol>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>

</html>